<div class="blog-container">
    <div class="left-side">
        <p class="title">{{ title }}</p>
        <p class="time">{{ date }}</p>
        <br>
        <p class="content"><br>
            {{ body }}
        </p>
    </div>
</div>


















<!-- <div class="right-side">
        <div class="buttons block">
            <button class="sign-up button">
                Sign Up
            </button>
            <button class="sign-in button no-see-background">
                Sign In
            </button>
        </div>
        <div class="search block">
            <input type="text" name="search" class="button search" id="search" placeholder="Search">
        </div>
        <div class="reactions block">
            <button class="like reaction">Like</button>
            <button class="dislike reaction">Dislike</button>
        </div>
        <div class="recomended block">
            <p>Articles you might like</p>
            <div class="article">
                <div class="article-left-wrapper">
                    <p class="article-left">Title, Bla Bla Bla because</p>
                    <p class="reccomend-article-info"> ok so bla bla bla bla blaaa bla bla bla bla bla max here</p>
                </div>
                <div class="reccomended-image-wrapper">
                    <img class="reccomended-image" src="./assets/images/beach-placeholder.jpg" alt="image">
                </div>
            </div>
            <div class="article">
                <div class="article-left-wrapper">
                    <p class="article-left">Title, Bla Bla Bla because</p>
                    <p class="reccomend-article-info"> ok so bla bla bla bla blaaa bla bla bla bla bla max here</p>
                </div>
                <div class="reccomended-image-wrapper">
                    <img class="reccomended-image" src="./assets/images/beach-placeholder.jpg" alt="image">
                </div>
            </div>
            <div class="article">
                <div class="article-left-wrapper">
                    <p class="article-left">Title, Bla Bla Bla because</p>
                    <p class="reccomend-article-info"> ok so bla bla bla bla blaaa bla bla bla bla bla max here</p>
                </div>
                <div class="reccomended-image-wrapper">
                    <img class="reccomended-image" src="./assets/images/beach-placeholder.jpg" alt="image">
                </div>
            </div>
        </div> -->
<!-- <div class="comments block">
            <p>Comments:</p>
            <div class="comment"></div>
            <p>See More</p>
        </div> -->
<!-- </div> -->