<div class="app-component">
  <nav>
    <div class="logo">
      <img class="home-button" src="./assets/images/3d-printer.png" alt="home button">
    </div>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" (click)="toggle()">blog page</a></li>
      <li>all articles</li>
      <li>contact</li>
    </ul>
    <div class="logo">
      <h4>logo</h4>
    </div>
  </nav>
  <div class="title-container" *ngIf="show">
    <div class="title">
      My blog about things
    </div>
  </div>
  <div class="timeline" *ngIf="show">
    <app-timeline *ngFor="let article of articles$ | async; index as i" [article]="(articles$ | async)"
      [entryIndex]="i + 1" (click)="clicked(i)">
    </app-timeline>
  </div>
  <article *ngIf="!show" [title]="this.title" [date]="this.date" [body]="this.body"></article>
  <div class="footer">
    <a href="https://www.flaticon.com/free-icons/3d-printing" title="3d printing icons">3d printing icons created by
      Freepik - Flaticon</a>
  </div>
</div>